:root{
--VeryDarkGrayishBlue: hsl(217, 19%, 35%);
--DesaturatedDarkBlue: hsl(214, 17%, 51%);
--GrayishBlue: hsl(212, 23%, 69%);
--LightGrayishBlue: hsl(210, 46%, 95%);
}
*{
    margin: 0;
}
html{
    font-size: 13px;
    font-family: 'Manrope', sans-serif ;
}
main{
    background-color: var(--LightGrayishBlue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    max-width: 300px;
}
section{
    display: flex;
    box-sizing: border-box;
    position: relative;
}
article{
    background-color: white;
    max-width: 470px;
    color: var(--VeryDarkGrayishBlue);
    padding: 2.5em;
    border-radius: 0 10px 10px 0;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    p{
        font-size: 1.3rem;
    }
}
h1{
    font-size: 2rem;
}
.profile{
    display: flex;
    align-items: center;
    position: relative;
}
.profile img{
    width: 10%;
    border-radius: 50px;
    margin-right: 20px;
}
.sharebutton{
    width: 25%;
    position: absolute;
    right: -6em;
    bottom: 31.5%;
    display: flex;
    justify-content: center;
    padding: 1.3em 3em;
    border-radius: 10px;
}
.drop{
    content: ".";
    border-width: 1.5rem;
    border-style: solid;
    border-color: var(--VeryDarkGrayishBlue) transparent transparent;
    position: absolute;
    left: 50%;
    bottom: -2.9rem;
    transform: translatex(-50%);
}
button{
    background-image: url('../images/icon-share.svg');
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    position: absolute;
    bottom: -5em;
    right: 44%;
    padding: 1.3em;
    border-radius: 20px;
}
button.active{
    background-color: var(--DesaturatedDarkBlue);
    background-image: url('../images/share-white.svg');
}
.show{
    background-color: var(--VeryDarkGrayishBlue);
}
.socialmedia{
    display: flex;
    column-gap: 1.5rem;
    align-items: center;
}
.socialmedia > p{
    color: var(--LightGrayishBlue);
    font-weight: 100;
    letter-spacing: 5px;
    
}
.socialmedia > img{
    width: 2em;
}

@media screen and (max-width:700px){
    main{
        padding: 1em 10em;
    }
    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
    }
    h1{
        font-size: 1.2rem ;
    }
    body p{
        font-size: 13px;
    }
    article{
        border-radius: 0 0 10px 10px ;
        padding: 1.5rem;
    }
    .profile img{
        width: 15%;
    }
    .sharebutton{
        bottom: 0;
        right: 0;
        width: 82%;
        display: flex;
        justify-content: end;
        border-radius: 0 0 10px 10px;
        padding: 1em 2em;
    }
    .drop{
        display: none;
    }
    button{
        position: relative;
        bottom: 0;
        right: 0;
    }
    .show{
        position: relative;
        right: 3em;
    }
    .socialmedia{
        column-gap: 1.2rem;
    }
    .socialmedia > img{
        width: 1.6em;
    }
}